SERVER= {FOR SERVER PORT}
DBPORT= {FOR DATABASE PORT}
DBHOST= {FOR DATABASE HOST}
DBUSER= {FOR DATABASE USER}
DBPASS= {FOR DATABASE PASSWORD}
DBNAME= {FOR DATABASE NAME}
SECRET= {FOR JWT SECRET}
REFSECRET= {FOR JWT REFRESH SECRET}