SERVER= {FOR SERVER PORT} Example: 8080
SECRET= {FOR JWT SECRET} Example: s3cr3t
REFSECRET= {FOR JWT REFRESH SECRET} Example: ref53crET

If you use PostgreSQL
DBPORT= 5432
DBHOST= localhost
DBUSER= postgres
DBPASS=
DBNAME= starter-template

if you use MySQl
DBPORT= 3306
DBHOST= localhost
DBUSER= root
DBPASS=
DBNAME= starter-template